doctype html
html
  head
    meta(charset='utf-8')
  body
    div
      p #{args.greeting}
      p This is a convenience tool for send mail via Amazon SES service.
      p This tool suppout send single mail or batch send email.
      p Also support passing arguments to template.
